
body{
    background-image: url("./imgs 2/abstract_water_texture-seamless.jpg");
    background-repeat: repeat;
    background-position: center;
    /*background-size: cover;*/
    /*text-align: left;*/
}
h2{
    text-align: center;
    font-size: 85px;
    font-family: 'Calibri';
    font-weight: 200;/*100 200 300 400 (normal) 500 600 700(bold) 800 900 */
    line-height: 200px;
    text-decoration: none;
    text-align: center;
    color: lightseagreen; /*màu chữ rgba(255,17,34,0.5) */
    background-image: url("./imgs 2/abstract_water_texture-seamless.jpg") ; /*màu nền phía sau*/
    /*border-bottom: 1px solid #ff112290;*/
    /*border-top: 1px solid #ff112290 ;*/

}

p{
    font-family: Arial;
    font-size: 40px;
}

li{
    font-family: Arial;
    font-size: 40px;
}

#s1{
    text-align: right;
    font-family: Arial;
    font-size: 40px;
}

#s2{
    text-align: left;
    font-family: Arial;
    font-size: 40px;
}