
body{
    background-image: url("./imgs 2/abstract_water_texture-seamless.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
h1{
    font-size: 100px;
    font-family: 'Arial';
    font-weight: 400;/*100 200 300 400 (normal) 500 600 700(bold) 800 900 */
    line-height: 200px;
    text-decoration: none;
    text-align: center;
    color: #ff1122; /*màu chữ rgba(255,17,34,0.5) */
    /*background-color: ; !*màu nền phía sau*!*/
    /*border-bottom: 1px solid #ff112290;*/
    /*border-top: 1px solid #ff112290 ;*/
}

