
body{
    background-image: url("./imgs 2/abstract_water_texture-seamless.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*text-align: left;*/
}
h2{
    text-align: center;
    font-size: 75px;
    font-family: 'Arial';
    font-weight: 200;/*100 200 300 400 (normal) 500 600 700(bold) 800 900 */
    line-height: 200px;
    text-decoration: none;
    text-align: center;
    color: #ff1122; /*màu chữ rgba(255,17,34,0.5) */
    background-color: beige ; /*màu nền phía sau*/
    /*border-bottom: 1px solid #ff112290;*/
    /*border-top: 1px solid #ff112290 ;*/
}

p{
    font-family: Arial;
    font-size: 40px;
}

li{
    font-family: Arial;
    font-size: 40px;
}
